name: Changelog
on:
  push:
    branches:
      - master
  pull_request:
    # Important that we run on `labeled` and `unlabeled` to pick up `no-changelog` being added/removed
    # DEV: [opened, reopened, synchronize] is the default
    types: [opened, reopened, synchronize, labeled, unlabeled, ready_for_review]
jobs:
  validate:
    name: Validate changelog
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        # Include all history and tags
        with:
          fetch-depth: 0

      # Ensure a new reno release note was added in this PR.
      # Use `reno new <slug>` to add a new note to `releasenotes/notes`,
      #   or add `no-changelog` label if no release note is needed.
      - name: Ensure release note added
        # Only run this on pull requests
        if: github.event_name == 'pull_request'
        run: scripts/check-releasenotes

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        name: Install Python
        with:
          python-version: '3.14'

      - name: Install Dependencies
        run: pip install reno docutils

      - name: Lint changelog notes
        run: reno lint

      - name: Generate changelog
        run: |
          reno report | tee CHANGELOG.rst
          rst2html CHANGELOG.rst CHANGELOG.html

      - name: Upload CHANGELOG.rst
        uses: actions/upload-artifact@834a144ee995460fba8ed112a2fc961b36a5ec5a # v4.3.6
        with:
          name: changelog
          path: |
            CHANGELOG.rst
            CHANGELOG.html
