name: CI
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      - uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2.3.4
        with:
          python-version: '3.8'
      - name: Install Riot
        run: pip install .
      - run: riot -v run -s black -- --check .
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      - uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2.3.4
        with:
          python-version: '3.8'
      - name: Install Riot
        run: pip install .
      - run: riot -v run -s mypy
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
        with:
          fetch-depth: 0
      - uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2.3.4
        with:
          python-version: '3.8'
      - name: Install Riot
        run: pip install .
      - run: riot -v run docs
      - uses: actions/upload-artifact@834a144ee995460fba8ed112a2fc961b36a5ec5a # v4.3.6
        with:
          name: docs
          path: docs/_build
  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      - uses: actions/setup-python@e9aba2c848f5ebd159c070c61ea2c4e2b122355e # v2.3.4
        with:
          python-version: '3.8'
      - name: Install Riot
        run: pip install .
      - run: riot -v run -s flake8
  test:
    strategy:
      matrix:
        # macos-14/latest uses arm64
        os: [ubuntu-latest, macos-13]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "3.12", pypy-3.7]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      - name: Setup Python
        uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236 # v4.7.1
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - name: Install Riot
        run: pip install .
      - name: Run tests
        run: riot -v run --python=${{ matrix.python-version }} test
      - name: Coverage
        run: riot -v run -s --python=${{ matrix.python-version }} codecov
